body{
    margin: 0;
    padding: 0;
}



#map{
  position: absolute;
   overflow: hidden;
   background: red;
   top:0 ; left: 0; right : 0; bottom: 0;

  
  &__content{
    height:4000px;
    width: 4000px;
    background: blue;
    position: relative;
    overflow: hidden;

  
  @for $i from 1 through 200 {
    :nth-child(#{$i}) { 
      position: absolute;
      border-radius: 5px;
      top: random(3500) + px ;
      left : random(3500) + px ;
      height: random(1000) + px ;
      width: random(1000) + px ;
      background: rgb(random(255), random(255), random(255));
      transition: all ease 100ms;
     
      &:hover{
        transform: scale(.95);
        box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.3);
      }
     }
  }
  .bloc200{
    top: 200px;
    left:200px;
    height:200px;
    width:200px;
  }
   
}

}

